body {
  margin: 0;
  font-family: 'Roboto', Verdana, sans-serif;
  background-color: #3498db;
  color: white;
}

* {
  box-sizing: border-box;
}

.box {
  min-height: 100%;
  overflow: auto;
}

a {
  color: white;
  text-decoration: none;
}

h1 {
  text-align: center;
  margin: 30vh 0 1vh;
  font-size: 3em;
}

h2 {
  text-align: center;
  color: rgba(255, 255, 255, 0.7);
  font-size: 1.3em;
}

#ball {
  width: 3em;
  height: 3em;
  border-radius: 50%;
  position: absolute;
  background-color: black;
  left: -50%;
  top: -50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#ball:before {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: #222;
  width: 120%;
  height: 120%;
  margin: -35% -30%;
  filter: blur(5px);
}

#ball:after {
  content: '';
  position: absolute;
  border-radius: 50%;
  background-color: white;
  width: 30%;
  height: 30%;
  margin: 15% 20%;
  filter: blur(7px);
}

footer {
  position: absolute;
  bottom: 0;
  padding: 1em;
  display: flex;
  width: 100%;
  justify-content: space-between;
}